// main: main.scss

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3vh 0 2.5vh 0;

    & > *:nth-child(n+2) {
        margin-left: 1.5vw;
    }

    .picture {
        img {
            vertical-align: middle;
            width: 6.5vw;
            border-radius: 100%;
            border: 1px solid #fff;
            box-shadow: 0px 0px 0px 1px #B6B6B6;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: rotate(-5deg);
                -webkit-filter: brightness(1.1);
                filter: brightness(1.1);
            }
        }
    }

    .title {
        flex-grow: 1;

        p {
            margin: 0;
            text-transform: uppercase;

            &.name {
                font-family: 'Slabo 27px', serif;
                font-size: 2.3em;
                text-shadow: 1px 1px #fff;

                a {
                    text-decoration: none;
                    color: #515151;
                }
            }

            &.position {
                font-weight: 300;
            }
        }
    }

    nav {
        margin-top: 2vh;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: table;

            li {
                display: table-cell;

                a {
                    display: inline-block;
                    font-weight: 300;
                    font-size: 1.3em;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1.5vh 1vw;
                    color: #00B4FF;
                }

                & + li a {
                    margin-left: 0.5vw;
                }

                &.active a {
                    color: #fff;
                    background: #00B4FF;
                }
            }
        }
    }
}
