.wrapper > footer {
  padding: 3vh 0;
  text-align: center;
  font-size: 0.9em;

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline;

        a {
          color: $gray;
          font-weight: 300;
          text-decoration: none;

          &:hover {
            color: $blue;
          }
        }

        & + li {
          &:before {
            margin: 0 1.1em 0 0.7em;
            vertical-align: 0.3em;
            font-size: 0.6em;
            content: '\25A0';
          }
        }
      }
    }
  }
}
